**/__pycache__/
*.cache/
*.pycache/
/__pycache__
__pycache__/
*.dist/
*.build/
*.pyc
**/.venv/
/.venv
.venv/
*.pdf
*.xlsx
*.vscode
.vscode
timework/pinterest/QRes/*.json
QRes/*.json
har_and_cookies
handlers/generated_images/*.jpg